html, body{
    margin:  0px;
    padding: 0px;
    overscroll-behavior: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}
#map {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    z-index: -1;
}
.site-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 1;
}
.content-container {
    position: relative;
    margin: 10px 0px 10px 0px;
}
.container-background {
    position: absolute;
    border-radius: 4px;
}
.site-content {
    position: absolute;
    padding: 10px;
}
